# Secrets / env
.env
.env.*

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Prefect / local artifacts
staging/
.prefect/
prefect.db

# Logs
*.log

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
